%div{"ng-controller" => "AppCtrl"}
  %a{"ng-click" => "doAThing()"}
    foo
  %input{"ng-click" => "doAThing()", "data-fp-apikey" => "AekmteJuhT1uTqdnJOPFMz", "data-fp-multiple" => "true", "data-fp-container" => "modal", "data-fp-mimetypes" => "image/*", "data-fp-services" => "COMPUTER,FLICKR", :onchange => "createPhoto(event.fpfile.url)", :type => "filepicker"}/